@charset 'UTF-8';

* {
  box-sizing: border-box;
}

html, body {
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 1;
  padding: 0;
  margin: 0;
}

body {
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

h1 {
  padding: 1rem 2rem;
  margin: 0;
  font-size: 140%;
  background: #eee;
  color: #333;
  border-right: 50px solid #777;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}

h1 .material-icons {
  font-size: 200%;
  display: block;
  margin-right: 0.5ex;
}

h2 {
  font-size: 200%;
  margin-top: 0;
}

main {
  display: flex;
  flex-wrap: nowrap;
  min-height: 100vh;
}

.content {
  order: 2;
  flex-grow: 1;
  padding: 4em;
  padding-top: 5em;
  margin: 0 auto;
  margin-left: 350px;
  transition: margin .5s ease, width .5s ease;
}

.content.menu-hidden {
  margin-left: 50px;
}

table {
  background: #fff;
  border-collapse: collapse;
  min-width: 100%;
  margin: 0 0 2em 0;
}

tr {
  background: #fff;
}

th, td {
  background: #fff;
  border: 2px solid #333;
  padding: .75em;
}

th {
  background: #333;
  color: #fff;
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

a:hover, a:focus, a:active {
  text-decoration: underline;
}

.before-content {
  text-align: center;
  margin-bottom: 1em;
}

.before-content .icon-wrapper {
  justify-content: center;
}

.material-icons {
  font-size: 32px;
}

.icon-wrapper {
  display: flex;
  align-items: center;
}

.icon-wrapper i {
  margin-right: .5ex;
}

.icon-wrapper.sold-out {
  color: #d70000;
}

.icon-wrapper.in-stock {
  color: #00bd53;
}

.icon-wrapper.notify {
  color: #006fd2;
}

.menu {
  order: 1;
  width: 350px;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-evenly;
  background: #333;
  transition: width .5s ease;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  flex-grow: 1;
  background: #333;
  margin: 0;
  padding: 1em;
  width: 100%;
  border-bottom: 1px solid #666;
}

.menu ul * {
  transition: opacity .5s ease;
}

.menu li {
  color: #fff;
}

.menu a {
  display: block;
  padding: 1em;
}

.menu a:hover {
  text-decoration: none;
  background: #ddd;
  color: #333;
}

.menu.hidden {
  width: 50px;
}

.menu.hidden ul * {
  opacity: 0;
}

button.menu-toggle,
button.menu-toggle:hover,
button.menu-toggle:active {
  background: transparent;
  color: #ddd;
  width: 50px;
  height: 50px;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  display: table;
  background: #eee;
  padding: 2em;
  min-width: 25%;
}

.form-actions {
  padding-top: 2em;
  border-top: 1px solid #ccc;
}

.form-actions input {
  margin: 0;
}

label {
  display: block;
  margin: 0 0 .5em 0;
  font-weight: normal;
}

[type=checkbox] {
  margin: 0;
  margin-right: 1ex;
}

.checkbox {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1.5em;
}

.checkbox label {
  margin: 0;
}

input,
select {
  background: #fff;
  border: 2px solid #ddd;
  padding: .5em;
  margin: 0 0 .5em 0;
  font-family: inherit;
  font-size: inherit;
}

select,
[type=text],
[type=file] {
  margin-bottom: 1.5em;
  width: 100%;
}

[type=button],
[type=submit] {
  display: block;
  padding: .75em 2em;
  margin-bottom: 0;
  background: #ddd;
  color: #333;
  border: 0;
  font-size: inherit;
}

[type=button]:hover,
[type=submit]:hover {
  background: #333;
  color: #ddd;
}

[type=button]:active,
[type=submit]:active {
  background: #555;
  color: #eee;
}

.symbol {
  min-width: 1%;
}

.name {
  max-width: 100%;
}

.weight {
  min-width: 1%;
}

.operations {
  min-width: 5%;
  padding: .5em;
}

.operations div {
  display: flex;
  flex-direction: row;
}

.operations [type=button] {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-size: 85%;
  justify-content: flex-start;
  align-items: center;
  margin: 0 .5rem 0 0;
  padding: .55em 1em;
}

.operations [type=button]:last-child {
  margin: 0;
}

.operations .material-icons {
  font-size: 120%;
  margin-right: .5ex;
}

.messages .material-icons {
  font-size: 150%;
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  margin-left: .5em;
}

.messages ul {
  list-style: none;
  padding: 0;
  font-size: 90%;
  font-weight: 400;
}

.messages li {
  position: relative;
  padding: 1em;
  border-style: solid;
  border-width: 3px;
  border-left-width: 8px;
  padding-left: 2.5em;
}

.messages.status li {
  background: #c0e8ca;
  border-color: #9cd5aa;
  color: #285e35;
}

.messages.warning li {
  background: #e8e2c0;
  border-color: #d5c79c;
  color: #5e5628;
}

.messages.error li {
  background: #e8c0c0;
  border-color: #d59c9c;
  color: #5e2828;
}

.confirm {
  background: transparent;
  padding: 2em 0;
}

.portfolio-form {
  width: 50%;
}

.portfolio-headers {
  border-bottom: 1px solid #ccc;
  padding-bottom: 1em;
  margin-bottom: 1em;
  font-weight: 400;
}

.portfolio-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: .5em 0;
}

.portfolio-row > div {
  padding-right: .5em;
  padding-left: .5em;
  flex-grow: 1;
  width: 50%;
}

.portfolio-row > div:first-of-type {
  padding-left: 0;
}

.portfolio-row > div:last-of-type {
  padding-right: 0;
}

.portfolio-row input,
.portfolio-row select {
  margin: 0;
}

.portfolio-totals {
  align-items: bottom;
  justify-content: flex-end;
}

.portfolio-row > button {
  flex-grow: 0;
}

.position-delete {
  display: flex;
  background: transparent;
  padding: .25em;
  padding-right: 0;
  border: 2px solid transparent;
}

.position-delete:hover,
.position-delete:active {
  background: transparent;
  color: #666;
}

.portfolio-row .material-icons {
  font-size: 150%;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px,1px,1px,1px);
  padding: 0 !important;
  border: 0 !important;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden !important;
}

.drag-handle {
  color: #666;
  display: flex;
  background: transparent;
  padding: .25em;
  border: 2px solid transparent;
  border-right: 0;
  border-left: 0;
  padding-left: 0;
  cursor: move;
}

.drag-handle:hover,
.drag-handle:active {
  background: transparent;
  color: #666;
}
