.actions-menu-dropdown {
  position: absolute;
  list-style: none;
  padding: .5em;
  margin: 0;
  background: #fff;
  border-radius: 5px;
  border: 1px solid #ccc;
  box-shadow: 0 0 1px #eee;
}

.actions-menu-item {
  border-bottom: 1px solid #ddd;
}

.actions-menu-item:first-of-type {
  border-top: 1px solid #ddd;
}

.actions-menu-item button {
  padding: .5em;
  background: transparent;
  display: block;
  width: 100%;
  text-align: left;
  color: #333;
}

.actions-menu-item button:hover {
  background: #555;
  color: #fff;
}

.actions-button {
  line-height: 1;
}

.dropdown-hidden {
  display: none;
}
