{% extends 'base.html.twig' %}

{% block content %}
  <form method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" size="40">
    <div class="form-actions">
      <input type="submit" value="Submit">
    </div>
  </form>
{% endblock %}
