{% extends 'base.html.twig' %}

{% block page_title %}
  <h2>Edit Portfolio <em>{{ name }}</em></h2>
{% endblock %}

{% block content %}
  <div id="portfolio-form-react-container"></div>
{% endblock %}

{% block javascripts_before %}
  <script type="text/javascript">
    {% autoescape false %}
    const portfolio_name = {{ name|json_encode() }};
    const portfolio_funds = {{ funds|json_encode() }};
    {% endautoescape %}
  </script>
{% endblock %}
