<h1><i class="material-icons">insights</i>Investment Analyzer</h1>
<ul>
  <li><a href="/portfolios">Portfolios</a></li>
  <li><a href="/funds">Funds</a></li>
  <li><a href="/securities">Securities</a></li>
  <li><a href="/overlap">Overlap</a></li>
</ul>
