{% block menu %}
<h1><i class="material-icons">insights</i>Investment Analyzer</h1>
<ul>
  <li><a href="{{ url('portfolios_view_all') }}">Portfolios</a></li>
  <li><a href="{{ url('funds_view_all') }}">Funds</a></li>
  <li><a href="{{ url('securities_view_all') }}">Securities</a></li>
  <li><a href="{{ url('overlap_view_all') }}">Overlap</a></li>
</ul>
<button class="menu-toggle" type="button">
  <i class="material-icons">menu_open</i>
</button>
{% endblock %}
