{% set messages = messenger.all() %}
{% if not messages is empty %}
  {% for type, messages_of_type in messages %}
    <div class="messages {{ type }}">
      <ul>
        {% for message in messages_of_type %}
          <li>
            {% apply spaceless %}
            <i class="material-icons">
              {% if type == 'status' %}
                info
              {% elseif type == 'warning' %}
                report_problem
              {% else %}
                dangerous
              {% endif %}
            </i>
            {% endapply %}
            {{ message|striptags('<br><strong><em>')|raw }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endif %}
