{% set messages = messenger.all() %}
{% if not messages is empty %}
  {% for type, messages_of_type in messages %}
    <div class="messages {{ type }}">
      <ul>
        {% for message in messages_of_type %}
          <li>{{ message }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endfor %}
{% endif %}
