{% extends 'base.html.twig' %}

{% block content %}
  <table>
    <thead>
      <th>Name</th>
      <th>Operations</th>
    </thead>
    <tbody>
      {% for portfolio in portfolios %}
        <td class="name">{{ portfolio.name }}</td>
        <td class="operations">
          <div>
            <button type="button" onclick="window.location.href='{{ urlFromPath('/porfolios/' ~ portfolio.id) }}'">
              <i class="material-icons">article</i>Positions
            </button>
            <button type="button" onclick="window.location.href='{{ urlFromPath('/porfolios/' ~ portfolio.id ~ '/edit') }}'">
              <i class="material-icons">edit</i>Edit
            </button>
            <button type="button" onclick="window.location.href='{{ urlFromPath('/porfolios/' ~ portfolio.id ~ '/delete') }}'">
              <i class="material-icons">delete</i>Delete
            </button>
          </div>
        </td>
      {% endfor %}
    </tbody>
  </table>
  <div>
    <input type="button" value="Create Portfolio" onclick="window.location.href='portfolios/create'">
  </div>
{% endblock %}
