{% extends 'base.html.twig' %}

{% block page_title %}
  <h2>Install</h2>
{% endblock %}

{% block content %}
  <p>The following storage schema will be installed:</p>
  <form method="post">
    <table>
      <thead>
        <th>Name</th>
        <th>Class</th>
      </thead>
      <tbody>
        {% for schema_definition in schema_definitions %}
          <tr>
            <td>{{ schema_definition.name }}</td>
            <td>{{ schema_definition.class }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <input type="submit" value="Install">
  </form>
{% endblock %}
