{% extends 'base.html.twig' %}

{% block content %}
  <table>
    <thead>
      <th>Name</th>
      <th>Symbol</th>
    </thead>
    <tbody>
      {% for security in securities %}
        <tr>
          <td class="symbol">{{ security.symbol }}</td>
          <td class="name">{{ security.name }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
